// Project breakpoints
$small-mobile-screen-width: 576px;
$mobile-screen-width: 767px;
$mobile-screen-width-rotated: 900px;
$small-tablet-screen-width: 991px;
$tablet-screen-width: 1199px;
$large-screen-size: 1399px;

//brand colors
//Modal colors
$white: white;
$black: black;
